<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-6 col-sm-6 col-lg-4">
        <div class="card my-3">

           <% if cocktail.id == 2 %>
          <%= cl_image_tag("ijnerorsrva13i8nfm5d", width: 400, crop: :fill, class: "card-img-top") %>
          <% elsif cocktail.id == 3 %>
            <%= cl_image_tag("d71xc3cwqdtrkgvr5z9y", width: 400, crop: :fill, class: "card-img-top") %>
          <% elsif cocktail.id == 4 %>
            <%= cl_image_tag("webxtunempbajzqvekaw", width: 400, crop: :fill, class: "card-img-top") %>
          <% elsif cocktail.id == 5 %>
            <%= cl_image_tag("vi05oda4ue5syczmbdrx", width: 400, crop: :fill, class: "card-img-top") %>
          <% elsif cocktail.id == 6 %>
            <%= cl_image_tag("ifsoadbabeekoylisgko", width: 400, crop: :fill, class: "card-img-top") %>
          <% elsif cocktail.id == 7 %>
            <%= cl_image_tag("useht7uyfpewjotxxoge", width: 400, crop: :fill, class: "card-img-top") %>

          <% end %>
          <% if cocktail.photo.present? %>
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
          <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name %></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= link_to cocktail_path(cocktail), class: "btn btn-success btn-block" do %><i class="fas fa-sign-in-alt"></i>
              <% end %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

